*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
    scroll-behavior: smooth;
}

body
{
    color: #7B29A5;
    font-family: 'Montserrat', sans-serif;
    background-image: url("../img/onda.png");
    background-repeat: no-repeat;
}

b
{
    font-weight: 800;
}

a:hover, a:active
{
    color: white;
    text-decoration: none;
}

ul 
{
    margin-bottom: 0 !important;
    text-decoration: none;
}

.agendamento
{
    border: solid 2px;
    border-radius: 0.5em;
    border-color: whitesmoke;
    text-decoration: none;
    padding: 8px 8px;
    font-size: 1.2em;
}

.botao
{   
    color: whitesmoke;
    margin: 3em 2em;
    padding: 0.5em 0.7em; 
    border: solid 1px;
    border-radius: 1.3em;
    border-color:#7B29A5;
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(to right,#7B29A5, #913ebb);
    min-width:  160px;
}

.caixa_texto
{
    margin: 3em auto;
    border: 3px solid rgba(182, 90, 203, 0.575);
    padding: 3em;
}

.caixa_texto p
{
    margin: 0.5em auto;
}

.clique
{
    font-size: 1em;
    font-weight: 500;
}

.contato ul 
{
    list-style: none;
    font-size: 1.5em;
}

.meios
{
    font-size: 1.5em;
}

.contatos a
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: currentColor;
    
}

.contatos a p
{
    text-align: left;
    margin-left: 1em;
    transition: 1.2s ease-in text-shadow;
}

.contatos a p:hover
{
    text-shadow: 0px 0px 10px rgba(243, 175, 98, 0.856);
}

.contatos a i 
{
    font-size: 1.5em;
}


.especial 
{
    color: #F3AF62;
    opacity: 0;
    animation: 4s ease 500ms animacaoEspecial forwards;
}

.inicio, .sobre
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.legenda
{
    width: 15em;
}

.link
{
    font-weight: 800;
    color: currentColor;
    transition: text-shadow 0.8s, color 1s;
}

.link:hover, .link:active
{
    color: #F3AF62;
    text-shadow: 0px 0px 50px rgba(124, 41, 165, 0.768);
}

.nome
{
    font-size: 2em;
    font-weight: 700;
}

.texto li
{
    padding-bottom: 3em;
}

.titulo_principal
{
    margin-top: 10em;
    opacity: 0;
    animation: 3s ease 500ms animacaoTitulo forwards;
}

.titulo_principal h1
{
    font-weight: 800;
}

.titulo_section
{
    align-self: flex-start;
    margin: 4em 0;
}

.titulo_section h2
{
    font-weight: 800;
    font-size: 3em;
}

.servicos 
{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.servicos .subtitulo h2
{
    font-size: 1.5em;
    line-height: 5px;
    text-align: left;
}

.servicos .caixa_texto p
{
    transition: text-shadow 1.2s;
}

.servicos .caixa_texto p:hover, .servicos .caixa_texto p:active
{
    text-shadow: 0px 0px 10px #F3AF62;
}

.topicos li
{
	margin: 0;
	list-style: none;
	background-image: url("../img/checkmark.png");
	background-repeat: no-repeat;
	background-position: left center;
    background-size: 20px;
    padding: 0.5em;
    padding-left: 1.8em;
    text-align: left;
}

@keyframes animacaoCaixa
{
    from
    {
        transform: translateY(-10vw), scale(0.5);
        opacity: 0;
    }
    to 
    {
        transform: translateY(0), scale(1);
        opacity: 1;
    }
}

@keyframes animacaoTitulo 
{
  from {
    transform: scale(1);
    opacity: 0;
  }
  to {
    transform: scale(1) translateX(0);
    opacity: 1;
  }
}

@keyframes animacaoMenu 
{
    from {
      transform: translateY(-20vh);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes animacaoEspecial
{
  from {
    transform: scale(1);
    opacity: 0;
  }
  to {
    transform: scale(1) translateX(0);
    opacity: 1;
  }
}

@media(min-width: 2020px)
{
    body
    {
        background-image: none;
    }

    nav
    {
        position: static;
        z-index: 1;
        top: 0;
        width: 100%;
    }

    .menu 
    {
        background-color: rgba(124, 41, 165, 0.91);
    }
}

@media(min-width: 1225px)
{
    body 
    {
        font-size: 18px;
    }

    .agendamento
    {
        margin-right: 2em
    }

    .card:hover
    {
        transform: scale(1.2) rotate(-2deg);
    }
    
    .caixa_texto p
    {
        text-align: justify;
    }

    .inicio, .sobre, .servicos, .contato, .mais
    {   
        margin-left: auto;
        margin-right: auto;  
        max-width: 1200px;    
    }

    .legenda
    {
        text-align: justify;
    }
    
    .logo
    {
        opacity: 0;
    }

    .menu
    {  
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
    }

    .menu a
    {
        color: whitesmoke;
        padding: 0.3em 1em;
        font-size: 22px;
        transition: text-shadow 1s;
    }

    .menu a:hover, .menu a:active
    {
        text-shadow: 0px 0px 10px #FDBA59;
    }

    .titulo_principal h1
    {
        font-size: 3em;
    }

    .figura
    {
        display: flex;
    }

    .figura p
    {   
        margin: 3em 0em;
        min-width: 316px;
        max-width: 300px;
    }

    .figura img
    {
        height: 501px;
        width: 751px;
    }

    .foto_sobre
    {
        width: 500px;
        height: 500px;
    }
    
    .subtitulo h2
    {
        font-weight: 800;
        font-size: 3em;
    }
}

@media(max-width: 1225px)
{
    .card:hover
    {
        transform: scale(1.2) rotate(-2deg);
    }

    .inicio, .sobre, .servicos, .contato, .mais  
    {   
        margin-left: auto;
        margin-right: auto;  
        max-width: 900px;    
    }

    .legenda
    {
        max-width: 200px;
        text-align: justify;
    }

    .logo
    {
        opacity: 0;
    }

    .normal
    {  
        font-size: 0;
    }

    .menu
    {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        min-height: 5vh;
    }

    .agendamento
    {
        color: white;
    }

    .titulo_principal
    {
        margin-top: 15em;
        margin-left: 2em;
    }
    
    .titulo_principal h1
    {
        font-size: 3em;
    }
    
    .figura
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .figura p
    {   
        margin: 3em 0em;
        min-width: 300px;
        max-width: 300px;
    }

    .figura img
    {
        height: 501px;
        width: 751px;
    }

    .foto_sobre
    {
        width: 500px;
        height: 500px;
    }

    .subtitulo h2
    {
        font-weight: bold;
        font-size: 3em;
    }
    
}

@media(min-width: 625px)
{
    a 
    {
        color: white;
    }
    .agendamento
    {
        margin-top: 1em;
    }

    .caixa_texto
    {
        width: 900px;
    }

    .menu
    {
        height: 12vh;
    }

    .menu_responsivo
    {
        visibility: hidden;
    }


}

@media(max-width: 625px)
{
    body 
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url("img/rosana_nome.png");
        font-size: 1.2em;
    }

    nav
    {
        height: 4em;
        background-color: #7B29A5;
        display: flex;
        position: fixed;
        z-index: 1;
        top: 0;
        width: 100%;
    }

    .agendamento 
    {
        border: solid 1px whitesmoke;
    }
    
    .agendamento a:hover
    {
        color: white        
    }

    .caixa_texto
    {
        margin: auto;
        padding: 1em;
        text-align: left;  
        max-width: 350px;      
    }

    .card:hover
    {
        transform: scale(1.2);
    }

    .inicio, .sobre, .servicos, .contato, .mais
    {   
        max-width: 350px; 
        margin: auto;
    }

    .logo
    {
        opacity: 1;
        margin-left: 27px;
    }

    .legenda
    {
        text-align: left;
    }

    .menu_responsivo
    {
        visibility: visible !important;
    }

    .nome
    {
        padding: 1em 0.4em;   
    }

    .normal
    {  
        font-size: 0;
    }

    .titulo_principal
    {
        color: #7B29A5;
        padding: 1em;
        margin-top: 5em;
        margin-bottom: 3em;
    }
    
    .titulo_principal h1
    {
        font-size: 2.5em;
    }

    .titulo_section h2
    {
        font-size: 2em;
    }

    .figura
    {
        color: #7B29A5;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: auto;
    }

    .figura p
    {   
        margin: 3em 0em;
        min-width: 300px;
        max-width: 300px;
    }

    .figura img
    {
        height: 250px;
        width: 350px;
    }

    .figura figcaption 
    {
        margin-bottom: 2em;
    }

    .foto_sobre
    {
        width: 250px;
        height: 250px;
    }

    .subtitulo h2
    {
        text-align: center !important;
        font-size: 2.5em;
    }
    .subtitulo
    {
        text-align: center !important;
    }

    .servicos .subtitulo h2 
    {
        line-height: normal;
    }
}

.cards
{
    padding: 2em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card
{
    margin:2em;
    border: 3px rgba(182, 90, 203, 0.575) solid;
    transition: transform 700ms;
}

.card-body
{
    text-align: center;
}

.card-title
{
    font-weight: bold;
    margin-bottom: 1em;
}

button
{
    display: block;
    color: currentColor;
}

button:focus
{
    box-shadow: 0 0 0 0;
    outline: 0;
}